language: scala
scala:
  - 2.12.6
script:
  - sbt compile coverage test coverageReport codacyCoverage 
# Use container-based infrastructure
sudo: false
# These directories are cached to S3 at the end of the build
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt
before_cache:
  # Cleanup the cached directories to avoid unnecessary cache updates
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete
env:
  global:
    - secure: BIXurpR+KTooYWs8Nkc90r5LIlhYnv3D0qIXItkB60DfYi+GavOdsAfywUIMh+hDAzTZCDahqlZCDPxPThY7Fvlgflf47jKUr6sC4fBMmvDdQVNLj+rzMjoPrSlDwaXipwAiK8sk4yyMmIVQlXn4gF7VoengjPP7Z9jRiQ87mH9Nwbnb/mXi7Ccn37AuNUu9phRJ29+RduC+ScXNt/bV2jZD13dRIEXs5RCK0JUmE/+nrV0tZ+RI7SUL3tD1jORKxkm49u+1FzD0pFyjMEAo5zAYynyLdGxt50nTDw2UYWSVCyDJ5bVXOe9yYk9Ub8+M3FEwYxJOhbjkhVLZ6mwzOdilZeGrA6OWQGGZ3qRScD/kNr53OIb4NlE26kEGOV0eWTLukmNWtKfCVrpd5xdFawZ3LrRkP5chMVUXX+RpaRB6n1A98u6I62HJGrBqDsSk0PkBSQW4tdaqU9UTOicaMpum2Y++pzfk/eaW4MORdhovSTYtMfkRZ8laL6HylfzP+3/HVJqAYrMxggkLmgC1Xha1JBXkGVmHBFtyKR2Szwx5PJ6g76osqQc4gwoIB5fJ39bILrNIx8gWTp/Of+sRYzb1zpGRDeMiZTnYPUQie4J/y8pcCvK8+rB85oHixjLDXxxScoWLWnEpXQCwxMeO29h4da0GKfciJAvbxKbrhGY=

